
{% extends 'bootstrap/base.html' %}
{% import 'macros.html' as macro %}

{% block navbar %}
{% include 'navbar.html'%}
{% endblock %}



{% block content %}

 
<div class="container-fluid welcome-page">
    <div class="container">
        <div class="row">
            
        </div>
        <div class='row'>
            <div class='col-md-12'>
                <div class="tab-content">
                    
                    

                    <div class="jumbotron">
                            
                            <hr class="my-4">
                             
                           
                             <div class="textmiddle">
                                <h3 style="text-align: center;"class="display-4"> welcome to My blog web  app</h3>
                                <p>{{ quotes.quote }}</p>
                                <p>{{ quotes.author }}</p>
                            
                            
                            </div>
                            
                            <p class="lead">
                             
                            <a style="text-align: center; width:90%;color: whitesmoke;" class="btn btn-primary" href="/blogs/new/"> Post a Blog </a>
                            
                          
                          
                          </p>
                    </div>
                    
                    <h3 style="color: blue;text-align: center">see all blogs here</h3>
                    <br>
                  
                    <div id="title" class="container tab-pane active"><br>
                      {{ macro.displayBlog(blogs) }}
                     
                    </div>
                    <p></p>
                   
                  </div>
            </div>
        </div>
    </div>
    <div style="margin-bottom:5px; background-color:black;text-align:center;color:white;height:50px;font-size:18px;padding:10px;margin-top:100px;"><p> &copy;2019 copyright |All Right Reserved </p></div>
  

</div> 

{% endblock %} 
